<section id="women" class="min-h-screen flex flex-col justify-center">

    <h2 class="text-3xl font-bold mb-6">Mulheres responsáveis</h2>

    <p class="mb-8 text-lg">
        No entanto, ao analisar a proporção de mulheres responsáveis pelo domicílio em todos os bairros, observa-se uma relação inversa com o rendimento médio: 
        <br><br>Bairros com maior participação de mulheres como responsáveis pelo domicílio tendem a apresentar menores rendimentos médios. 
        <br><br>Essa relação evidencia um padrão socioeconômico entre os bairros, embora, por si só, não permita concluir suas causas.
    </p>

    <app-renda-mulher-responsavel-scatter></app-renda-mulher-responsavel-scatter>

</section>