<section id="conclusion" class="min-h-screen flex flex-col justify-center">

    <h2 class="text-3xl font-bold mb-6">Conclusão</h2>

    <p class="mb-8 text-lg">
        Até aqui, observamos que os bairros de maior renda compartilham características semelhantes:

        <br><br><strong>Maior</strong> proporção de <strong>população branca</strong>, <strong>maiores taxas</strong> de  <strong>alfabetização</strong> e  <strong>menor</strong> participação de  <strong>mulheres
        responsáveis pelo domicílio</strong>.
        <br><br> Esses padrões aparecem de forma consistente quando analisamos <strong>todos os bairros da cidade</strong>.

        <br><br> A análise mostra que a <strong>renda em Fortaleza</strong> apresenta uma <strong>distribuição espacial desigual</strong>. 
        
    </p>

</section>