<section id="race-composition" class="min-h-screen flex flex-col justify-center">

    <h2 class="text-3xl font-bold mb-6">Educação</h2>

    <p class="mb-8 text-lg">
        Ao analisar a educação, observa-se um padrão semelhante ao encontrado na composição racial. 
        <br><br> Os bairros com maiores rendimentos também apresentam as maiores taxas de alfabetização.
        Em contrapartida, bairros com menores rendimentos tendem a apresentar menores taxas de alfabetização.
    </p>

    <app-scatter-rendimento-alfabetizacao></app-scatter-rendimento-alfabetizacao>


</section>