<section id="race-composition" class="min-h-screen flex flex-col justify-center">

    <h2 class="text-3xl font-bold mb-6">Composição Racial</h2>

    <p class="mb-8 text-lg">
        Nos bairros onde se concentram renda, temos em média mais de 50% da população sendo de pessoas brancas.
        <br><br>Guararapes que possui o maior rendimento médio da Cidade, tem 61% de sua população sendo da raça branca.
    </p>


    <app-racial-composition-chart></app-racial-composition-chart>

    <p class="mb-8 text-lg">
        <br>Mas isso é apenas uma característica desses dez bairros ou representa um padrão da cidade?
    </p>

    <p class="mb-8 text-lg">
        Ao analisar a renda dos demais bairros e a proporção de pessoas racializadas, ou seja, população negra,
        índigena, etc. Observa-se que a renda média diminui conforme a população racializada aumenta
    </p>


    <app-racial-scatter></app-racial-scatter>


    <p class="mb-8 text-lg">
        <br>Além da composição racial, quais outras características estão associadas aos bairros de maior renda?
    </p>


</section>