<section id="age-composition" class="min-h-screen flex flex-col justify-center">

    <h2 class="text-3xl font-bold mb-6">Sexo e Faixa Etária</h2>

    <p class="mb-8 text-lg">
        Nos bairros com maiores rendimentos, a distribuição por sexo e faixa etária permanece, de modo geral, equilibrada. Embora a proporção de mulheres seja ligeiramente maior em algumas faixas etárias. 
        <br><br> Por exemplo, no bairro Meireles há mais de 10 mil mulheres e cerca de 8 mil homens entre 30 e 59 anos.
    </p>

     <app-idade-sexo-bairros-chart></app-idade-sexo-bairros-chart>

</section>